@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
  font-family: 'Montserrat', sans-serif;
}
a {
  cursor: pointer;
}
#header {
  background-color: #231549; /* #FBE9FF*/
}
.DropdownItem {
  color: #fbe9ff /* #231549*/;
  font-size: 15px;
  margin: 3px;
}
.dropdown-item:hover {
  border-radius: 20px;
  background-color: #fff4ee;
}
.BrudAdmin {
  margin-top: 3px;
  color: hsl(289, 100%, 96%) /* #231549*/;
  font-weight: 550;
  font-size: 20px;
}
.BrudAdmin b {
  color: #fbe9ff /* #231549*/;
  font-weight: 800;
}
.userName {
  color: #fbe9ff /* #231549*/;
  font-size: 15px;
  font-weight: 600;
}
.sidebar {
  background: #231549; /* #FBE9FF*/
}
.menuIcon {
  color: #fbe9ff /* #231549*/;
  margin-right: 5px;
}
.menuItem {
  color: #fbe9ff /* #231549*/;
  font-size: 16px;
  padding: 5px;
  margin-left: 5px;
}
.menuItem:hover {
  color: #231549;

  font-weight: 600;
}
.menuItemDiv {
  padding: 3px;
  padding-left: 10px;
}
.menuItemDiv:hover {
  background-color: #fbe9ff /* #231549*/;
  color: rgb(253, 154, 154);
  border-radius: 3px;
}
.menuItemDiv:hover span,
.menuItemDiv:hover i {
  color: #231549;
}
.active div {
  box-shadow: 0px 1px 0px #fbe9ff /* #231549*/;
}
.active i {
  color: #fbe9ff /* #231549*/;
}
.active span {
  color: #fbe9ff /* #231549*/;
  font-weight: 800;
}
.basePath {
  color: #231549 /* #231549*/;
  font-weight: 500;
  font-size: 17px;
}
.currentPath {
  font-weight: 500;
  font-size: 17px;
}
.page-header {
  color: #231549 /* #FBE9FF*/;
  font-weight: 700;
  font-size: 22px;
}

/* ====================DASHBOARD==================== */

.widget .stats-info h4 {
  font-size: 18px !important;
}
.widget .stats-info p {
  margin-top: 10px !important;
}

/* ====================PROFILE PAGE==================== */
.panel {
  border-radius: 20px;
}
.profileForm input {
  border-radius: 20px;
}
.profileForm label {
  font-weight: 600;
}
.changePassForm label {
  font-weight: 600;
}
.changePassForm input {
  border-radius: 20px;
}
.profileForm input[type='file']::file-selector-button {
  border-radius: 20px;
  border: 2px solid #231549 /* #FBE9FF*/;
  background-color: #fff4ee;
  transition: 1s;
  margin-top: -3px;
}

.profileForm input[type='file']::file-selector-button:hover {
  background-color: #231549 /* #FBE9FF*/;
  border: 2px solid #231549 /* #FBE9FF*/;
  cursor: pointer;
}

/* ====================GENERAL==================== */

.edit:hover {
  color: blue;
}
.editBtn:hover {
  color: #000000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.delete:hover {
  color: red;
}
.addCategory {
  margin-bottom: 50px;
}
input {
  padding-left: 10px;
  margin: 10px;
}
.mainBody {
  border-radius: 20px;
}

/* ====================RESTAURANT-DETAIL==================== */

.restaurant_heading {
  color: #fbe9ff /* #231549*/;
  font-weight: 600;
  font-size: 16px;
}
.RestName {
  background-color: #fff4ee;
}
.restaurant_data {
  color: #404040;
  font-weight: 500;
  /* font-size: 16px; */
}
.RestData {
  justify-content: center;
}
.restaurantDetail {
  border-radius: 10px;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.restaurantImage {
  display: flex;
  overflow: auto;
}
.restaurant_Image {
  height: 100px;
  width: 170px;
  margin: 5px;
  box-shadow: 0px 6px 10px #b7b7b7;
}
.table th {
  color: #231549 /* #231549*/;
  font-weight: 600;
}

/* ====================OrdersDetails==================== */

.team-boxed p {
  color: #7d8285;
}

.team-boxed h2 {
  font-weight: bold;
  margin-bottom: 40px;
  padding-top: 40px;
  color: inherit;
}

@media (max-width: 767px) {
  .team-boxed h2 {
    margin-bottom: 25px;
    padding-top: 25px;
    font-size: 24px;
  }
}

.team-boxed .people {
  padding: 50px 0;
}

.team-boxed .item {
  text-align: center;
}
.team-boxed .CardImage {
  border-radius: 20px;
  max-width: 80%;
  max-height: 200px;
  text-align: center !important;
}
.team-boxed .item .box {
  text-align: center;
  padding: 20px;
  background: linear-gradient(#ffc3a0, #fbe9ff);
  box-shadow: 5px 5px 5px #757575;
  background-color: #231549 /* #FBE9FF*/;
  margin-bottom: 30px;
  border-radius: 20px;
}
.team-boxed .item .box:hover {
  transition: 2s !important;
  background: linear-gradient(#ffa876, #fbe9ff);
}

.team-boxed .item .boxDetail {
  text-align: left;
}
.team-boxed .item .name {
  font-weight: bold;
  margin-top: 28px;
  margin-bottom: 4px;
  color: inherit;
}

.team-boxed .item .title {
  font-weight: bold;
  color: #000;
  font-size: 16px;
}

.team-boxed .item .modifiers {
  color: #000;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.team-boxed .item .modifiersListItem {
  color: #4b4b4b;
  font-size: 13px;
  margin: 0;
  padding: 0;
  font-weight: 500;
}

/* =================hide Scroll bar ===================== */
.restoScroll::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
.restoScroll::-webkit-scrollbar-thumb {
  background: #ff0000;
}

/* ================= Country Form ===================== */

.CountryForm {
  width: 700px !important;
}
@media (max-width: 950px) {
  .CountryForm {
    width: 300px !important;
    padding-left: 0px;
    padding-top: 0px;
  }
}
.CountryForm label {
  font-size: 16px;
  font-weight: 600;
}
.CountryForm .categoryDiv {
  margin-left: 1px;
}
.CountryForm .imgInput {
  margin-left: -15px;
}
.CountryForm input {
  border-radius: 20px;
  padding-left: 15px;
}
.CountryForm .textArea {
  border-radius: 20px;
}
.CountryForm .checkBox {
  font-weight: 300;
}
.placeButton {
  padding: 5px;
  padding-left: 10px;
  border-radius: 20px;
  background-color: #6144af;
}
.placeDeleteIcon {
  color: #fbe9ff !important;
  margin: 3px;
  margin-left: 7px;
}
.placeDeleteIcon i {
  color: #fff !important;
}
.placeDeleteIcon i:hover {
  color: rgb(255, 91, 91) !important;
}

.budgetRow {
  margin-left: 2px;
}

/* ===========================popup===================== */

.popup-content {
  width: 800px !important;
  z-index: 100;
  left: 6%;
  border-radius: 20px;
}
@media (max-width: 1300px) {
  .popup-content {
    /* margin-top: 30px !important; */
    width: 600px !important;
    border-radius: 20px;
    left: 8%;
  }
}

@media (max-width: 1100px) {
  .popup-content {
    /* margin-top: 30px !important; */
    width: 600px !important;
    border-radius: 20px;
    left: 11%;
  }
}
@media (max-width: 950px) {
  .popup-content {
    /* margin-top: 30px !important; */
    width: 600px !important;
    border-radius: 20px;
    left: 12%;
  }
}
@media (max-width: 830px) {
  .popup-content {
    /* margin-top: 30px !important; */
    width: 500px !important;
    border-radius: 20px;
    left: 14%;
  }
}
@media (max-width: 767px) {
  .popup-content {
    /* top: 5% !important; */
    width: 70% !important;
    overflow-y: auto !important;
    border-radius: 20px;
    margin-top: 20px !important;
    left: 0%;
  }
}
@media (max-width: 450px) {
  .popup-content {
    /* margin-top: 90px !important;
    margin-bottom: -90px !important; */
    width: 90% !important;
    overflow-y: auto !important;
    border-radius: 20px;
    margin-top: 20px !important;
    left: 0%;
  }
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .example {
    background: red;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .example {
    background: green;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .example {
    background: blue;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .example {
    background: orange;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .example {
    background: pink;
  }
}

/* ====================Dashboard Tabs===================== */

.Tabs .active {
  font-weight: 800 !important;
  font-size: 16px;
  color: #000 !important;
  margin-top: -2px;
}
label {
  font-size: 16px;
  font-weight: 600;
}
input {
  border-radius: 20px;
}
